
@{
    ViewData["Title"] = "SuccessfulCheckout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info">

    <p>Sipariş(ödeme) başarıyla tamamlandı</p>
    <p>Sipariş(ödeme) no : @TempData["orderId"]</p>
</div>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Anasayfa</a>
