@model SignInInput

@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 offset-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Üye Girişi</h5>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form asp-controller="Auth" asp-action="SignIn" method="post">
                    <div class="mb-3">
                        <label asp-for="Email" for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" value="test@gmail.com" asp-for="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <span class="text-danger" asp-validation-for="Email"></span>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" for="exampleInputPassword1" class="form-label">Password</label>
                        <input asp-for="Password" value="Password12*" type="password" class="form-control" id="exampleInputPassword1">
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <input asp-for="IsRemember" type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label asp-for="IsRemember" class="form-check-label" for="exampleCheck1"></label>
                    </div>
                    <button type="submit" class="btn btn-primary">Giriş Yap</button>
                </form>

            </div>
        </div>
    </div>
</div>


